

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="tema/assets/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="#" class="simple-text logo-normal">
                     <%=kurum_adi%>
                </a>
            </div>
           <%-include("sidebar");%>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#pablo">Panel</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content" ng-app="sos">
                <div class="container-fluid" ng-controller="masaController">
                    <div class="row">
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="card card-stats">
                                    <div class="card-header card-header-success card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">store</i>
                                        </div>
                                        <p class="card-category">Kazanç</p>
                                        <h3 class="card-title">$34,245</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">date_range</i> Bu gün
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="card card-stats">
                                    <div class="card-header card-header-danger card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">person</i>
                                        </div>
                                        <p class="card-category">Garsonlar</p>
                                        <h3 class="card-title"> 5 </h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">person</i>Garsonlar

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">content_copy</i>
                                        </div>
                                        <p class="card-category">Masa Sayısı</p>
                                        <h3 class="card-title">1
                                            <small>Adet</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons text-secondary">playlist_add</i>
                                            <a>Masa Ekle</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row col-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header card-header-tabs card-header-primary">
                                            <div class="nav-tabs-navigation">
                                                <div class="nav-tabs-wrapper">
                                                    <span class="nav-tabs-title">Yönet</span>
                                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" href="#masalar" data-toggle="tab">
                                                                <i class="material-icons">panorama_fish_eye</i> Masalar
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                            <li class="nav-item">
                                                            <a class="nav-link" href="#siparisler" data-toggle="tab">
                                                                <i class="material-icons">notifications</i>
                                                                Siparişler
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>   
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#hazirlananlar" data-toggle="tab">
                                                                <i class="material-icons">hourglass_empty</i>
                                                                Hazırlananlar
                                                                <div class="ripple-container"></div>
                                                            </a>
                                                        </li>
                                                                                                                                                           
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body ">
                                            <div class="tab-content ">
                                                <div class="tab-pane active" id="masalar">

                                                    <div class="row" id="masalar-dis">
                                                        <span class="badge col-12 badge-primary">Dış</span>
                                                        
                                                        <!--
                                                            //Hiç Masa Olmadığında  
                                                        <h3 class="col-lg-4 col-md-4 offset-md-4 offset-lg-4">Hiç
                                                            Masa Yok</h3>
                                                        -->

                                                    </div>
                                                      <hr>
                                                    <div class="row" id="masalar-ic">
                                                       <span class="badge col-12 badge-danger">İç</span> 
                                                        
                                                        <!--
                                                            //Hiç Masa Olmadığında  
                                                        <h3 class="col-lg-4 col-md-4 offset-md-4 offset-lg-4">Hiç
                                                            Masa Yok</h3>
                                                        -->

                                                    </div>
                                                </div>
                                                <div class="tab-pane " id="siparisler">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox"
                                                                                value="" checked>
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td><i class="material-icons text-warning mx-3">notifications</i>  <i class="btn btn-warning">Masa2 </i>Yiyecek: <span class="text-danger" >Köfte Ekmek</span> , İçecek : Sosis,Kola 
                                                                </td>
                                                                <td class="td-actions text-right">
                                                                    <button type="button" rel="tooltip" title="Edit Task"
                                                                        class="btn btn-primary btn-link btn-sm">
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                                    <button type="button" rel="tooltip" title="Remove"
                                                                        class="btn btn-danger btn-link btn-sm">
                                                                        <i class="material-icons">close</i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane" id="hazirlananlar">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox"
                                                                                value="">
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>Lines From Great Russian Literature? Or E-mails
                                                                    From My Boss?</td>
                                                                <td class="td-actions text-right">
                                                                    <button type="button" rel="tooltip" title="Edit Task"
                                                                        class="btn btn-primary btn-link btn-sm">
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                                    <button type="button" rel="tooltip" title="Remove"
                                                                        class="btn btn-danger btn-link btn-sm">
                                                                        <i class="material-icons">close</i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox"
                                                                                value="" checked>
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>Flooded: One year later, assessing what was lost
                                                                    and what was found when a ravaging rain swept
                                                                    through metro Detroit
                                                                </td>
                                                                <td class="td-actions text-right">
                                                                    <button type="button" rel="tooltip" title="Edit Task"
                                                                        class="btn btn-primary btn-link btn-sm">
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                                    <button type="button" rel="tooltip" title="Remove"
                                                                        class="btn btn-danger btn-link btn-sm">
                                                                        <i class="material-icons">close</i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox"
                                                                                value="" checked>
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>Sign contract for "What are conference organizers
                                                                    afraid of?"</td>
                                                                <td class="td-actions text-right">
                                                                    <button type="button" rel="tooltip" title="Edit Task"
                                                                        class="btn btn-primary btn-link btn-sm">
                                                                        <i class="material-icons">edit</i>
                                                                    </button>
                                                                    <button type="button" rel="tooltip" title="Remove"
                                                                        class="btn btn-danger btn-link btn-sm">
                                                                        <i class="material-icons">close</i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <nav class="float-left">
                                <ul>
                                    <li>
                                        <a href="">
                                            corxjs
                                        </a>
                                    </li>
                                 
                                </ul>
                            </nav>
                            <div class="copyright float-right">
                                &copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>| coded  <i class="material-icons">favorite</i> by
                                <a href="https://www.corxjs.com" target="_blank">corxJS</a> 
                                web lab.
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            
          
</body>

