 <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          <%=kurum_adi%>
        </a>
      </div>
      
      <%-include("sidebar",{active:active});%>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Garsonlar</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/panel">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Hesap
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  
                  <a class="dropdown-item" href="#">Ayarlar</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Çıkış</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h3 class="card-title">Garsonlar</h3>
              <p class="card-category">Garsonlar ile ilgili işlemler buradan yönetilir.<button class="ml-auto pull-right btn btn-rose btn-sm" data-toggle="modal" data-target="#exampleModal" >Garson Ekle</button></p> 
              
            </div>
            <div id="garsonlar-alan" class="card-body row">
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Garson ekle</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                <h3>Eklenecek Garsonun</h3>
                                    <input type="text" name="adi" autocomplete="off"  class="form-control col-10" placeholder="Tam adı">
                                    <input type="text" name="username" autocomplete="off" class="form-control col-10" placeholder="Kullanıcı Adı">
                                    <input type="text" name="sifre" autocomplete="off" class="form-control col-10" placeholder="Şifresi">
                                    Günlük Ücreti:<input type="number" name="ucret" autocomplete="off" class="form-control col-10" placeholder="40">
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                  <button type="button"  onclick="garsonEkle(this);" class="btn btn-primary">Ekle</button>
                                </div>
                              </div>
                            </div>
                            </div>
                             <!-- /Modal -->
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
 