 <div class="sidebar-wrapper">
                <ul class="nav">
                    <%if(active==1){%>
                    <li class="nav-item <%='active'%>">
                    <%}else{%>
                      <li class="nav-item">
                      <%}%>
                        <a class="nav-link" href="/panel">
                            <i class="material-icons">dashboard</i>
                            <p>Panel</p>
                        </a>
                    </li>
                       <%if(active==2){%>
                    <li class="nav-item <%='active'%>">
                    <%}else{%>
                      <li class="nav-item">
                      <%}%>
                        <a class="nav-link" href="/panel/garsonlar">
                            <i class="material-icons">person</i>
                            <p>Garsonlar</p>
                        </a>
                    </li>
                       <%if(active==3){%>
                    <li class="nav-item <%='active'%>">
                    <%}else{%>
                      <li class="nav-item">
                      <%}%>
                        <a class="nav-link" href="/panel/menu">
                            <i class="material-icons">content_paste</i>
                            <p>Menü</p>
                        </a>
                    </li>
                       <%if(active==4){%>
                    <li class="nav-item <%='active'%>">
                    <%}else{%>
                      <li class="nav-item">
                      <%}%>
                        <a class="nav-link" href="/panel/siparisler">
                            <i class="material-icons">notifications</i>
                            <p>Siparişler</p>
                        </a>
                    </li>
                       <%if(active==5){%>
                    <li class="nav-item <%='active'%>">
                    <%}else{%>
                      <li class="nav-item">
                      <%}%>
                        <a class="nav-link" href="/panel/masalar">
                            <i class="material-icons">panorama_fish_eye</i>
                            <p>Masalar</p>
                        </a>
                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>