.container { width: 900px; margin: 0 auto; }
label { display: block; }
p label { width: 300px; clear: right; }
p label > input { float: right; }
button { margin: 8px 0 4px 0; background-color: white; border: 1px solid black; border-radius: 6px; padding: 3px 6px; }
button:hover { background-color: grey; color: yellow; border-color: darkGrey; }
button:active { color: red; }